body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10%;
    font-weight: bold;
    border-style: none;
    padding: 5px;
    width: 90px;
    border: 1px solid #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

img {
    max-width: 200px;
    flex: none;
    border-radius: 10px;
}

.hero,
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 90px;
    align-items: center;
    margin-bottom: 50px;
}

.images {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    margin: 0 50px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

.Thor {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    background-color: #3882F6;
    border-radius: 5px;
    color: #e5e7eb;
    display: flex;
    padding: 20px 50px;
    margin: 50px 75px;
    gap: 100px;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
}